<form>
  <label for="title">Titulo:</label><br>
  <input type="text" [(ngModel)]="music.title" id="title" name="title"><br>

  <label for="author">Autor:</label><br>
  <input type="text" [(ngModel)]="music.author" id="author" name="author"><br>

  <label for="description">Descrição:</label><br>
  <textarea type="text" [(ngModel)]="music.description" id="description" name="description"></textarea><br>

  <label for="path_of_music">URL:</label><br>
  <input type="text"[(ngModel)]="music.path_of_music" id="path_of_music" name="path_of_music"><br><br>

  <input type="button" (click)="salvar()" value="Enviar">
</form>
