<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ title }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ description }}</strong>

    <ion-grid>
      <ion-row>
        <ion-col>
          ID
        </ion-col>
        <ion-col>
          Título
        </ion-col>
        <ion-col>
          Descrição
        </ion-col>
        <ion-col>
          Play
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let music of musics">
        <ion-col>
          {{music.id}}
        </ion-col>
        <ion-col>
          {{music.title}}
        </ion-col>
        <ion-col>
          {{music.description}}
        </ion-col>
        <ion-col>
          Em progresso ...
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
